@use 'components/nav.scss';
@use 'components/main.scss';
@use 'components/body.scss';
@use 'components/variables' as var;
@use 'components/footer.scss';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(70, 70, 76);
    padding: 6rem;
}
i{

    background-color: white;
}
button{
    border-radius: var.$b-radius;
    padding: 0 1rem;
    background-color: rgb(218, 210, 210);
    margin: 0.5rem 0 0 0.5rem;
    cursor: pointer;
}