@import url("https://fonts.googleapis.com/css2?family=Corben&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niconne&family=Source+Sans+Pro:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@900&family=Niconne&family=Source+Sans+Pro:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corben&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@900&family=Niconne&family=Source+Sans+Pro:wght@900&display=swap");
.flex-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flex-center .text {
  position: relative;
}

.header__nav__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: rgb(65, 65, 65);
  height: 3rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.header__nav__upper .btn {
  appearance: none;
  background-color: white;
  border: 2px solid #1A1A1A;
  border-radius: 5px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: "Corben", cursive;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 35px;
  min-width: 0;
  outline: none;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}
.header__nav__upper .btn:disabled {
  pointer-events: none;
}
.header__nav__upper .btn:hover {
  color: #fff;
  background-color: #2eba74;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.header__nav__upper .btn:active {
  box-shadow: none;
  transform: translateY(0);
}
.header__nav__upper.header__nav__upper li {
  color: rgb(33, 141, 65);
  font-size: larger;
  padding: 1rem;
}

.header__nav__lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  gap: 2rem;
}
.header__nav__lower img {
  width: 6rem;
  height: auto;
}
.header__nav__lower .link--lists {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.header__nav__lower .link--lists:nth-child(1) a::after {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: rgb(251, 171, 22);
  position: absolute;
}
.header__nav__lower .link--lists li a {
  color: rgb(240, 235, 235);
  font-family: "Niconne", cursive;
  font-family: "Source Sans Pro", sans-serif;
}
.header__nav__lower .link--lists li a:hover::after {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: rgb(238, 204, 141);
  position: absolute;
}
.header__nav__lower .link--lists img {
  width: 2rem;
  height: auto;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .header__nav__lower {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header__nav__lower .link--lists {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
  }
}
.grid__container {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 10rem;
  gap: 1rem;
}
.grid__container .grid__container__card1 {
  background-image: url(images/2.jpg);
  background-size: cover;
  grid-row: span 2;
  grid-column: span 2;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}
.grid__container .grid__container__card1:hover {
  transform: translateY(-4px);
}
.grid__container .grid__container__card1 .text {
  position: absolute;
  bottom: 0rem;
  padding: 2rem;
}
.grid__container .grid__container__card1 .text .author {
  font-size: 1.3;
  color: rgb(254, 254, 254);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.grid__container .grid__container__card1 .text p, .grid__container .grid__container__card1 .text .preview {
  font-size: 2rem;
  color: rgb(242, 237, 237);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.grid__container .grid__container__card2 {
  background-image: url(images/1.jpg);
  background-size: cover;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}
.grid__container .grid__container__card2 .overlay {
  background-color: rgb(16, 47, 228);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.grid__container .grid__container__card2:hover {
  transform: translateY(-4px);
}
.grid__container .grid__container__card2 .text {
  position: absolute;
  bottom: 0rem;
  padding: 2rem;
}
.grid__container .grid__container__card2 .text .author {
  font-size: 0.8rem;
  color: rgb(254, 254, 254);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.grid__container .grid__container__card2 .text p, .grid__container .grid__container__card2 .text .preview {
  font-size: 1.3;
  color: rgb(242, 237, 237);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.grid__container .grid__container__card3 {
  background-image: url(images/3.jpg);
  background-size: cover;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  background: linear-gradient(to right, orange, orange);
}
.grid__container .grid__container__card3:hover {
  transform: translateY(-4px);
}
.grid__container .grid__container__card3 .text {
  position: absolute;
  bottom: 0rem;
  padding: 2rem;
}
.grid__container .grid__container__card3 .text .author {
  font-size: 0.8rem;
  color: rgb(254, 254, 254);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.grid__container .grid__container__card3 .text p, .grid__container .grid__container__card3 .text .preview {
  font-size: 1.3;
  color: rgb(242, 237, 237);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.grid__container .grid__container__card4 {
  background-image: url(images/4.jpg);
  background-size: cover;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}
.grid__container .grid__container__card4 .overlay {
  background-color: rgb(134, 39, 154);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.grid__container .grid__container__card4:hover {
  transform: translateY(-4px);
}
.grid__container .grid__container__card4 .text {
  position: absolute;
  bottom: 0rem;
  padding: 2rem;
}
.grid__container .grid__container__card4 .text .author {
  font-size: 0.8rem;
  color: rgb(254, 254, 254);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.grid__container .grid__container__card4 .text p, .grid__container .grid__container__card4 .text .preview {
  font-size: 1.3;
  color: rgb(242, 237, 237);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.grid__container .grid__container__card5 {
  background-image: url(images/5.jpg);
  background-size: cover;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}
.grid__container .grid__container__card5 .overlay {
  background-color: rgb(248, 161, 209);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.grid__container .grid__container__card5:hover {
  transform: translateY(-4px);
}
.grid__container .grid__container__card5 .text {
  position: absolute;
  bottom: 0rem;
  padding: 2rem;
}
.grid__container .grid__container__card5 .text .author {
  font-size: 0.8rem;
  color: rgb(254, 254, 254);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.grid__container .grid__container__card5 .text p, .grid__container .grid__container__card5 .text .preview {
  font-size: 1.3;
  color: rgb(242, 237, 237);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .grid__container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 8rem;
  }
}
.article .article__container__1 {
  padding: 1rem;
  border-radius: 1rem;
  margin: 0 3rem;
  height: 60vh;
  background-image: url(../../../images/image1.jpg);
  background-size: 100%;
  background-position: center;
  transition: all 0.3s linear;
  cursor: pointer;
}
.article .article__container__1 .author {
  font-size: 1.3;
  color: rgb(254, 254, 254);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.article .article__container__1 p, .article .article__container__1 .preview {
  font-size: 2rem;
  color: rgb(242, 237, 237);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.article .article__container__1:hover {
  background-size: 105%;
}
.article .article__container__1 .overlay {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 4em;
}
.article .article__container__1 .overlay .text {
  position: relative;
  top: 4rem;
  padding: 4rem 0;
}
.article .article__container__1 .overlay .text p {
  display: inline;
}
.article .article__container__1 .overlay .text:hover .continue {
  display: inline-block;
}
.article .article__container__1 .overlay .text .continue {
  display: none;
}
.article .article__container__2 {
  margin-top: 2rem;
  border-radius: 1rem;
  height: 70vh;
  background-image: url(../../../images/7.jpg);
  background-size: 100%;
  background-position: center;
  transition: all 0.3s linear;
  cursor: pointer;
}
.article .article__container__2 .author {
  font-size: 1.3;
  color: rgb(15, 14, 14);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.article .article__container__2 p, .article .article__container__2 .preview {
  font-size: 2rem;
  color: rgb(46, 43, 43);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.article .article__container__2 .overlay {
  background-color: rgb(252, 217, 131);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.article .article__container__2:hover {
  background-size: 105%;
}
.article .article__container__2 .overlay {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  padding: 4rem;
}
.article .article__container__2 .overlay .text {
  color: black;
}
.article .article__container__2 .overlay .text .preview {
  display: inline;
}
.article .article__container__2 .overlay .text:hover .continue {
  display: inline-block;
}
.article .article__container__2 .overlay .text .continue {
  display: none;
}
.article .article__container__3 {
  margin-top: 2rem;
  border-radius: 1rem;
  height: 70vh;
  background-image: url(../../../images/7.jpg);
  background-size: 100%;
  background-position: center;
  transition: all 0.3s linear;
  cursor: pointer;
}
.article .article__container__3 .author {
  font-size: 1.3;
  color: rgb(15, 14, 14);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.article .article__container__3 p, .article .article__container__3 .preview {
  font-size: 2rem;
  color: rgb(46, 43, 43);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.article .article__container__3:hover {
  background-size: 105%;
}
.article .article__container__3 .overlay {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 4rem;
}
.article .article__container__3 .overlay .text p {
  display: inline;
}
.article .article__container__3 .overlay .text:hover .continue {
  display: inline-block;
}
.article .article__container__3 .overlay .text .continue {
  display: none;
}

.latest {
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.latest .latest__container__1 {
  margin: 1.5rem;
  width: 35rem;
  height: 35rem;
  background-image: url(../../../images/8.jpg);
  background-size: 100%;
  background-position: center;
  transition: all 0.3s linear;
  border-radius: 1rem;
  cursor: pointer;
}
.latest .latest__container__1 .overlay {
  background-color: rgb(248, 161, 209);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.latest .latest__container__1 .author {
  font-size: 1.3;
  color: rgb(15, 14, 14);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.latest .latest__container__1 p, .latest .latest__container__1 .preview {
  font-size: 2rem;
  color: rgb(46, 43, 43);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.latest .latest__container__1:hover {
  background-size: 105%;
}
.latest .latest__container__1 .overlay {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 4rem;
}
.latest .latest__container__1 .overlay .text {
  padding: 4rem 1rem;
}
.latest .latest__container__1 .overlay .text h3 {
  display: inline;
}
.latest .latest__container__1 .overlay .text:hover .continue {
  display: inline-block;
}
.latest .latest__container__1 .overlay .text .continue {
  display: none;
}
.latest .latest__container__2 {
  margin: 1.5rem;
  width: 35rem;
  height: 35rem;
  background-image: url(../../../images/8.jpg);
  background-size: 100%;
  background-position: center;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.latest .latest__container__2 .overlay {
  background-color: rgb(252, 217, 131);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.latest .latest__container__2 .author {
  font-size: 1.3;
  color: rgb(15, 14, 14);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.latest .latest__container__2 p, .latest .latest__container__2 .preview {
  font-size: 2rem;
  color: rgb(46, 43, 43);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.latest .latest__container__2:hover {
  background-size: 105%;
}
.latest .latest__container__2 .overlay {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  padding: 4rem;
}
.latest .latest__container__2 .overlay .text {
  padding: 25% 2rem;
}
.latest .latest__container__2 .overlay .text h3 {
  display: inline;
}
.latest .latest__container__2 .overlay .text:hover .continue {
  display: inline-block;
}
.latest .latest__container__2 .overlay .text .continue {
  display: none;
}

@media screen and (max-width: 1024px) {
  .latest {
    flex-direction: column;
  }
}
.more {
  height: 70vh;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 30rem;
  gap: 1rem;
}
.more .more__container__1 {
  background-image: url(../../../images/1.jpg);
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  background-size: 100%;
  background-position: center;
  transition: all 0.3s linear;
}
.more .more__container__1 .author {
  font-size: 1.3;
  color: rgb(254, 254, 254);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.more .more__container__1 p, .more .more__container__1 .preview {
  font-size: 2rem;
  color: rgb(242, 237, 237);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.more .more__container__1:hover {
  background-size: 105%;
}
.more .more__container__1 .overlay {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  padding: 4rem;
}
.more .more__container__1 .overlay .text h3 {
  display: inline;
}
.more .more__container__1 .overlay .text:hover .continue {
  display: inline-block;
}
.more .more__container__1 .overlay .text .continue {
  display: none;
}
.more .more__container__2 {
  background-image: url(../../../images/image1.jpg);
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  background-size: 100%;
  background-position: center;
  transition: all 0.3s linear;
}
.more .more__container__2 .author {
  font-size: 1.3;
  color: rgb(15, 14, 14);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.more .more__container__2 p, .more .more__container__2 .preview {
  font-size: 2rem;
  color: rgb(46, 43, 43);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.more .more__container__2 .overlay {
  background-color: rgb(248, 161, 209);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.more .more__container__2:hover {
  background-size: 105%;
}
.more .more__container__2 .overlay {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  padding: 4rem;
}
.more .more__container__2 .overlay .text h3 {
  display: inline;
}
.more .more__container__2 .overlay .text:hover .continue {
  display: inline-block;
}
.more .more__container__2 .overlay .text .continue {
  display: none;
}
.more .more__container__3 {
  background-image: url(../../../images/1.jpg);
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  background-size: 100%;
  background-position: center;
  transition: all 0.3s linear;
}
.more .more__container__3 .author {
  font-size: 1.3;
  color: rgb(254, 254, 254);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.more .more__container__3 p, .more .more__container__3 .preview {
  font-size: 2rem;
  color: rgb(242, 237, 237);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.more .more__container__3:hover {
  background-size: 105%;
}
.more .more__container__3 .overlay {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  padding: 4rem;
}
.more .more__container__3 .overlay .text h3 {
  display: inline;
}
.more .more__container__3 .overlay .text:hover .continue {
  display: inline-block;
}
.more .more__container__3 .overlay .text .continue {
  display: none;
}

@media screen and (max-width: 1024px) {
  .more {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 30rem;
  }
}
.load {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
}
.load p {
  font-family: "Corben", cursive;
  cursor: pointer;
  text-align: center;
  padding: 1rem;
  width: 60%;
  height: 100%;
  background-color: rgb(225, 213, 213);
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
}
.load p:hover {
  background-color: orange;
}

footer {
  height: 100vh;
}
footer .form {
  color: rgb(240, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}
footer .form form p {
  width: fit-content;
  font-size: larger;
  white-space: nowrap;
  border-right: 3px solid white;
  overflow: hidden;
  animation: typewriter 5s steps(28) infinite alternate, blink 3s ease-in-out alternate;
}
footer .form form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  transition: all 0.5s linear;
  width: 80%;
  text-align: center;
}
footer .form form input:focus {
  outline: none;
  width: 100%;
}
footer .form form button {
  font-family: "Corben", cursive;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  padding: 1rem;
  width: 30%;
  height: 100%;
  background-color: rgb(225, 213, 213);
  border-radius: 1rem;
  transition: all 0.5s linear;
}
footer .form form button:hover {
  background-color: rgb(15, 224, 60);
}

@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes blink {
  0% {
    border-right: 3px solid white;
  }
  25% {
    border-right: none;
  }
  50% {
    border-right: 3px solid white;
  }
  75% {
    border-right: none;
  }
  100% {
    border-right: 3px solid white;
  }
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  gap: 2rem;
}
.footer__nav .footer__nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  flex-direction: column;
  gap: 2rem;
}
.footer__nav .footer__nav__links .lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  gap: 2rem;
}
.footer__nav .footer__nav__links .lists li a:hover::after {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: rgb(238, 204, 141);
  position: absolute;
}
.footer__nav .footer__nav__links .lists li a {
  color: white;
}
.footer__nav .footer__nav__links .lists li img {
  width: 2rem;
  height: auto;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .footer__nav .footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 4rem;
    gap: 2rem;
  }
}
.footer__nav .footer__nav__media {
  cursor: pointer;
}
.footer__nav .footer__nav__media i {
  background-color: black;
  font-size: large;
  margin: 0 0.5rem;
}
.footer__nav .footer__nav__media i:hover {
  background-color: rgb(212, 163, 72);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(70, 70, 76);
  padding: 6rem;
}

i {
  background-color: white;
}

button {
  border-radius: 1rem;
  padding: 0 1rem;
  background-color: rgb(218, 210, 210);
  margin: 0.5rem 0 0 0.5rem;
  cursor: pointer;
}

i {
  color: rgb(240, 235, 235);
}

/*# sourceMappingURL=style.css.map */
