@import url("https://fonts.googleapis.com/css2?family=Corben&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niconne&family=Source+Sans+Pro:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@900&family=Niconne&family=Source+Sans+Pro:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corben&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@900&family=Niconne&family=Source+Sans+Pro:wght@900&display=swap");
.header__nav__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: rgb(65, 65, 65);
  height: 3rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.header__nav__upper .btn {
  appearance: none;
  background-color: white;
  border: 2px solid #1A1A1A;
  border-radius: 5px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: "Corben", cursive;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 35px;
  min-width: 0;
  outline: none;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}
.header__nav__upper .btn:disabled {
  pointer-events: none;
}
.header__nav__upper .btn:hover {
  color: #fff;
  background-color: #2eba74;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.header__nav__upper .btn:active {
  box-shadow: none;
  transform: translateY(0);
}
.header__nav__upper.header__nav__upper li {
  color: rgb(33, 141, 65);
  font-size: larger;
  padding: 1rem;
}

.header__nav__lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  gap: 2rem;
}
.header__nav__lower img {
  width: 6rem;
  height: auto;
}
.header__nav__lower .link--lists {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.header__nav__lower .link--lists:nth-child(1) a::after {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: rgb(251, 171, 22);
  position: absolute;
}
.header__nav__lower .link--lists li a {
  color: rgb(240, 235, 235);
  font-family: "Niconne", cursive;
  font-family: "Source Sans Pro", sans-serif;
}
.header__nav__lower .link--lists li a:hover::after {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: rgb(238, 204, 141);
  position: absolute;
}
.header__nav__lower .link--lists img {
  width: 2rem;
  height: auto;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .header__nav__lower {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header__nav__lower .link--lists {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
  }
}
.grid__container {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 10rem;
  gap: 1rem;
}
.grid__container .grid__container__card1 {
  background-image: url(images/2.jpg);
  background-size: cover;
  grid-row: span 2;
  grid-column: span 2;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}
.grid__container .grid__container__card1:hover {
  transform: translateY(-4px);
}
.grid__container .grid__container__card1 .text {
  position: absolute;
  bottom: 0rem;
  padding: 2rem;
}
.grid__container .grid__container__card1 .text .author {
  font-size: 22px;
  color: rgb(254, 254, 254);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.grid__container .grid__container__card1 .text p {
  font-size: 50px;
  color: rgb(242, 237, 237);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.grid__container .grid__container__card2 {
  background-image: url(images/1.jpg);
  background-size: cover;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}
.grid__container .grid__container__card2 .overlay {
  background-color: rgb(16, 47, 228);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.grid__container .grid__container__card2:hover {
  transform: translateY(-4px);
}
.grid__container .grid__container__card2 .text {
  position: absolute;
  bottom: 0rem;
  padding: 2rem;
}
.grid__container .grid__container__card2 .text .author {
  font-size: 12px;
  color: rgb(254, 254, 254);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.grid__container .grid__container__card2 .text p {
  font-size: 22px;
  color: rgb(242, 237, 237);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.grid__container .grid__container__card3 {
  background-image: url(images/3.jpg);
  background-size: cover;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  background: linear-gradient(to right, orange, orange);
}
.grid__container .grid__container__card3:hover {
  transform: translateY(-4px);
}
.grid__container .grid__container__card3 .text {
  position: absolute;
  bottom: 0rem;
  padding: 2rem;
}
.grid__container .grid__container__card3 .text .author {
  font-size: 12px;
  color: rgb(254, 254, 254);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.grid__container .grid__container__card3 .text p {
  font-size: 22px;
  color: rgb(242, 237, 237);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.grid__container .grid__container__card4 {
  background-image: url(images/4.jpg);
  background-size: cover;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}
.grid__container .grid__container__card4 .overlay {
  background-color: rgb(134, 39, 154);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.grid__container .grid__container__card4:hover {
  transform: translateY(-4px);
}
.grid__container .grid__container__card4 .text {
  position: absolute;
  bottom: 0rem;
  padding: 2rem;
}
.grid__container .grid__container__card4 .text .author {
  font-size: 12px;
  color: rgb(254, 254, 254);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.grid__container .grid__container__card4 .text p {
  font-size: 22px;
  color: rgb(242, 237, 237);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.grid__container .grid__container__card5 {
  background-image: url(images/5.jpg);
  background-size: cover;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}
.grid__container .grid__container__card5 .overlay {
  background-color: rgb(248, 161, 209);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.grid__container .grid__container__card5:hover {
  transform: translateY(-4px);
}
.grid__container .grid__container__card5 .text {
  position: absolute;
  bottom: 0rem;
  padding: 2rem;
}
.grid__container .grid__container__card5 .text .author {
  font-size: 12px;
  color: rgb(254, 254, 254);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.grid__container .grid__container__card5 .text p {
  font-size: 22px;
  color: rgb(242, 237, 237);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .grid__container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 8rem;
  }
}
.article__container__1 {
  padding: 1rem;
  border-radius: 1rem;
  margin: 0 3rem;
  height: 60vh;
  background-image: url(../../../images/image1.jpg);
  background-size: 100%;
  background-position: center;
  transition: all 0.3s linear;
}
.article__container__1 .author {
  font-size: 22px;
  color: rgb(254, 254, 254);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.article__container__1 p {
  font-size: 50px;
  color: rgb(242, 237, 237);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.article__container__1:hover {
  background-size: 105%;
}
.article__container__1 .overlay {
  position: relative;
}
.article__container__1 .overlay .text {
  position: relative;
  top: 4rem;
  padding: 4rem 0;
}

.article__container__2 {
  margin-top: 2rem;
  border-radius: 1rem;
  height: 70vh;
  background-image: url(../../../images/7.jpg);
  background-size: 100%;
  background-position: center;
  transition: all 0.3s linear;
}
.article__container__2 .author {
  font-size: 22px;
  color: rgb(254, 254, 254);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.article__container__2 p {
  font-size: 50px;
  color: rgb(242, 237, 237);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.article__container__2 .overlay {
  background-color: rgb(252, 217, 131);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.article__container__2:hover {
  background-size: 105%;
}
.article__container__2 .overlay {
  position: relative;
}
.article__container__2 .overlay .text {
  position: relative;
  top: 4rem;
  padding: 2rem;
  color: black;
}

.article__container__3 {
  margin-top: 2rem;
  border-radius: 1rem;
  height: 70vh;
  background-image: url(../../../images/8.jpg);
  background-size: 100%;
  background-position: center;
  transition: all 0.3s linear;
}
.article__container__3 .author {
  font-size: 22px;
  color: rgb(15, 14, 14);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.article__container__3 p {
  font-size: 50px;
  color: rgb(46, 43, 43);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.article__container__3:hover {
  background-size: 105%;
}
.article__container__3 .overlay {
  position: relative;
}
.article__container__3 .overlay .text {
  position: relative;
  top: 4rem;
  padding: 2rem;
  color: black;
}

.part2 {
  margin: 30px;
  height: 60vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.part2 .image--overlay--6 {
  height: 95%;
  width: 85%;
  background-image: url(images/6.jpg);
  background-size: cover;
  grid-row: span 2;
  grid-column: span 2;
  border-radius: 1rem;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease;
}
.part2 .image--overlay--6 .author {
  position: absolute;
  left: 25%;
  bottom: 50%;
  font-size: 22px;
  color: rgb(28, 23, 23);
  font-family: "Corben", cursive;
}
.part2 .image--overlay--6 .text {
  position: absolute;
  left: 25%;
  bottom: 35%;
  font-size: 50px;
  color: rgb(42, 26, 26);
  font-family: "Corben", cursive;
}
.part2 .image--overlay--6:hover {
  transform: scale(1.03);
}

.part3 {
  margin: 30px;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.part3 .image--overlay--7 {
  height: 95%;
  width: 85%;
  background-image: url(images/8.jpg);
  background-size: cover;
  border-radius: 1rem;
  cursor: pointer;
  position: relative;
}
.part3 .image--overlay--7 .author {
  position: absolute;
  left: 25%;
  bottom: 50%;
  font-size: 22px;
  color: rgb(28, 23, 23);
  font-family: "Corben", cursive;
}
.part3 .image--overlay--7 .text {
  position: absolute;
  left: 25%;
  bottom: 35%;
  font-size: 50px;
  color: rgb(42, 26, 26);
  font-family: "Corben", cursive;
}
.part3 .image--overlay--7 .image--overlay {
  background-color: rgb(16, 47, 228);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.part4 {
  margin: 30px;
  height: 60vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.part4 .image--overlay--8 {
  height: 95%;
  width: 85%;
  background-image: url(images/6.jpg);
  background-size: cover;
  grid-row: span 2;
  grid-column: span 2;
  border-radius: 1rem;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease;
}
.part4 .image--overlay--8 .author {
  position: absolute;
  left: 25%;
  bottom: 50%;
  font-size: 22px;
  color: rgb(28, 23, 23);
  font-family: "Corben", cursive;
}
.part4 .image--overlay--8 .text {
  position: absolute;
  left: 25%;
  bottom: 35%;
  font-size: 50px;
  color: rgb(42, 26, 26);
  font-family: "Corben", cursive;
}
.part4 .image--overlay--8:hover {
  transform: scale(1.03);
}

.part5 {
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  gap: 16px;
  margin: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.part5 .main__grid__img--9 {
  background-image: url(../../../images/8.jpg);
  background-size: cover;
  border-radius: 1rem;
  width: 48%;
  height: 90%;
  position: relative;
}
.part5 .main__grid__img--9 .author {
  font-size: 22px;
  color: rgb(254, 254, 254);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.part5 .main__grid__img--9 p {
  font-size: 50px;
  color: rgb(242, 237, 237);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.part5 .main__grid__img--9 .image--overlay {
  background-color: rgb(248, 161, 209);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.part5 .main__grid__img--9:hover {
  transform: translateY(-4px);
}
.part5 .main__grid__img--10 {
  background-image: url(images/1.jpg);
  background-size: cover;
  border-radius: 1rem;
  width: 48%;
  height: 90%;
  position: relative;
}
.part5 .main__grid__img--10 .author {
  font-size: 22px;
  color: rgb(254, 254, 254);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.part5 .main__grid__img--10 p {
  font-size: 50px;
  color: rgb(242, 237, 237);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.part5 .main__grid__img--10 .image--overlay {
  background-color: rgb(255, 180, 105);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.part5 .main__grid__img--10:hover {
  transform: translateY(-4px);
}

.part6 {
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  gap: 16px;
  margin: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.part6 .main__grid__img--11 {
  background-image: url(../../../images/8.jpg);
  background-size: cover;
  border-radius: 1rem;
  width: 32%;
  height: 90%;
  cursor: pointer;
}
.part6 .main__grid__img--11 .image--overlay {
  background-color: rgb(248, 161, 209);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.part6 .main__grid__img--11 .image--overlay {
  position: relative;
}
.part6 .main__grid__img--11 .image--overlay .text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.part6 .main__grid__img--11 .image--overlay .text-center .author {
  font-size: 22px;
}
.part6 .main__grid__img--11 .image--overlay .text-center .text {
  font-size: 50px;
}
.part6 .main__grid__img--11 .image--overlay .text-center:hover .continue {
  display: inline-block;
}
.part6 .main__grid__img--11 .image--overlay .text-center .continue {
  display: none;
}
.part6 .main__grid__img--12 {
  background-image: url(images/1.jpg);
  background-size: cover;
  border-radius: 1rem;
  width: 32%;
  height: 90%;
  cursor: pointer;
}
.part6 .main__grid__img--12 .image--overlay {
  background-color: rgb(255, 180, 105);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.part6 .main__grid__img--12 .image--overlay {
  position: relative;
}
.part6 .main__grid__img--12 .image--overlay .text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.part6 .main__grid__img--12 .image--overlay .text-center .author {
  font-size: 22px;
}
.part6 .main__grid__img--12 .image--overlay .text-center .text {
  font-size: 50px;
}
.part6 .main__grid__img--12 .image--overlay .text-center:hover .continue {
  display: inline-block;
}
.part6 .main__grid__img--12 .image--overlay .text-center .continue {
  display: none;
}
.part6 .main__grid__img--13 {
  background-image: url(images/1.jpg);
  background-size: cover;
  border-radius: 1rem;
  width: 32%;
  height: 90%;
  cursor: pointer;
}
.part6 .main__grid__img--13 .image--overlay {
  background-color: rgb(134, 39, 154);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.part6 .main__grid__img--13 .image--overlay {
  position: relative;
}
.part6 .main__grid__img--13 .image--overlay .text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.part6 .main__grid__img--13 .image--overlay .text-center .author {
  font-size: 22px;
}
.part6 .main__grid__img--13 .image--overlay .text-center .text {
  font-size: 50px;
}
.part6 .main__grid__img--13 .image--overlay .text-center:hover .continue {
  display: inline-block;
}
.part6 .main__grid__img--13 .image--overlay .text-center .continue {
  display: none;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  transition: all 0.2s ease;
}
.load p {
  font-family: "Corben", cursive;
  cursor: pointer;
  text-align: center;
  padding: 1rem;
  width: 60%;
  height: 100%;
  background-color: rgb(225, 213, 213);
  border-radius: 1rem;
}
.load p:hover {
  background-color: orange;
}

.subscribe {
  margin: 20px 0;
  height: 60vh;
  position: relative;
}
.subscribe .subscribe__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.subscribe .subscribe__title .author {
  font-size: 50px;
}
.subscribe .subscribe__title .text {
  font-size: 22px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(70, 70, 76);
  padding: 6rem;
}

i {
  background-color: white;
}

button {
  border-radius: 1rem;
  padding: 0 1rem;
  background-color: rgb(218, 210, 210);
  margin: 0.5rem 0 0 0.5rem;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
