@import url('https://fonts.googleapis.com/css2?family=Corben&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Source+Sans+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@900&family=Niconne&family=Source+Sans+Pro:wght@900&display=swap');

$smallest:0.6rem;
$smaller:0.8rem;
$small:1rem;
$medium:1.3;
$large:1.5rem;
$larger:2rem;
$largest:2rem;

    
