@use 'variables' as var;
@use 'mixin' as *;
@use 'fonts' as *;


.main__grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 200px;
    gap: 16px;
    margin: 0 100px;

    .main__grid__img--1{
        background-image: url(images/2.jpg);
        background-size: cover;
        grid-row: span 2;
        grid-column: span 2;
        border-radius:var.$b-radius;
        cursor: pointer;
        position: relative;
        @include imagetext($small,$largest);
        &:hover{
            @include pulseup;
        }
        
    
    }
    .main__grid__img--2{
        background-image: url(images/1.jpg);
        background-size: cover;
        border-radius:var.$b-radius;
        position: relative;
        @include imagetext($smaller,$medium);
        @include overlay(var.$darkblue-color);
        &:hover{
            @include pulseup;
        }
        
    }
    .main__grid__img--3{
        background-image: url(images/3.jpg);
        background-size: cover;
        border-radius: var.$b-radius;
        position: relative;
        @include imagetext($smaller,$medium);
        @include overlay(var.$orange-color);
        &:hover{
            @include pulseup;
        }
        
    }
    .main__grid__img--4{
        background-image: url(images/4.jpg);
        background-size: cover;
        border-radius: var.$b-radius;
        position: relative;
        @include imagetext($smaller,$medium);
        @include overlay(var.$DarkOrchid-color);
        &:hover{
            @include pulseup;
        }
    }
    .main__grid__img--5{
        background-image: url(images/5.jpg);
        background-size: cover;
        border-radius: var.$b-radius;
        position: relative;
        @include imagetext($smaller,$medium);
        @include overlay(var.$purple-color);
        &:hover{
            @include pulseup;
        }
        
    }
}
@media screen and (max-width:1024px){
    .main__grid{
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 150px;
    }
    
}

