$orange-color:rgb(255,180,105);
$yellow-color:rgb(252,217,131);
$darkblue-color:rgb(16,47,228);
$purple-color:rgb(248,161,209);
$DarkOrchid-color:rgb(134,39,154);
$text-light:rgb(240, 235, 235);
$bgcolor:rgb(37,37,48);
$padding:1rem;
$b-radius:1rem;
$margin-top-bottom:2rem 0;
